
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Property Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Realty News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MR.9
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Map
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="col-md letter">
  <img class="ploan" src="assets/images/interior.jpg" alt="homeloan image">
  <p class="hloan">Professional Interior Design Services</p>
  <p class="lastext">Bring your dream home to life. Simply connect with some of the best decor brands<br> on our platform,
    ready to turn your space into everything you imagine it could be</p>
</div>
<div class="container how">
  <div class="row-heading">
    <p class="interpara">How Interior Designing Is Important for Everyone</p>
  </div>
  <div class="row-i">
    <div class="col-md-6">
      <img class="image" src="assets/images/home-interior.jpg"alt="interior image">
    </div>
    <div class="col-md-6 second">
      <p class="first-line"><span class="one">1.</span>&nbsp;Just Turn Your Home into a Joyful Place</p>
      <p class="small-para">Without a doubt, life can be truly hectic at times. That’s why you need to create a space that makes you feel cheerful and relaxed. Through skilled interior designing, you will be able to convert the mood and vibe of every room in your home and create stress-free surroundings</p>
      <p class="second-line"><span class="two">2.</span>&nbsp;Make the Greatest Use of Your Space</p>
      <p class="small-para-two">Is it your home feels very small to fit in everything? Well, interior designers can support you make any space look worthy and well-designed. Whether it’s a studio apartment or an only room household, the home decor specialists can make any space look bigger and better</p>
      <p class="three-line"><span class="three">3.</span>&nbsp;Let The Sun Enter Your Room</p>
      <p class="small-para-three">We all know how essential sunlight is for our physical and mental comfort. Specialized home decor experts can take full advantage of the flow of natural light and air in any space by reconsidering your furnishing stuffs, wall colors, windows, and mirrors. Let the Sun enter into your home and your life!</p>
    </div>
  </div>
</div>
<div class="container why">
  <div class="row">
    <div class="col-md leftc">
      <img class="" src="" alt="">
      <p class="why-clint"><span class="small">Why Our Client Choose Us?</span> <br>
       We consider making your existence simpler by means of continuously innovating the way you learn and shop for property-related services
      </p>
    </div>
    <div class="col-md rightc">
      <h3 class="main-para">Your Choice Is Our Responsibility</h3>
      <p class="sub-paraone">Our partners are great manufacturers in home decor and home furnishings because we want to make sure you get high-quality for your home and workplace</p>
      <h3 class="main-para">You’ve Got the Easy Online Access</h3>
      <p class="sub-paratwo">Grab some snacks and a cup of coffee then relax and sit back on your sofa. Open your mobile data and   Browse through our home decor partners and connect right away</p>
      <h3 class="main-para">We Give You The Option of Compare and Choose</h3>
      <p class="sub-parathree">Life without options is so boring, Isn’t it? Life is more enjoyable when you have lots of options to compare. Well forget your worries and relax, we let you connect with numerous providers before you make your final choice</p>
    </div>
  </div>
</div>

  