<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/Residential.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/residentialProperty">Residential Property</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/Commercial.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/commercialProperty">Commercial Property</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/Leaser.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/residentallease">Residental Lease</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/comm.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/commerciallease">Commercial Lease</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/Loans.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/homeloans">Home Loans</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/InteriorDesigning.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/interior">Interior</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/CorporateGifting.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/corporategifting">Corporate Gifting</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/Construction.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/construction">Construction</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/RealEstate.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="button" routerLink="/realestateconsultances">Realestate Consultancs</a>
      </div>
    </div>
  </div>
</div>