<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Property Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Realty News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MR.9
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Map
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="col-md letter">
    <img class="ploan" src="assets/images/homeloan.jpg" alt="homeloan image">
    <p class="hloan">Looking For Personalize <br> Home Loan ?</p>
    <p class="lastext">Compare the best offers & apply online.</p>
    <form class="loansrch">
      <div class="headline">
        Home Loan
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="la">Loan Amount</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="mn">Mobile Number</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="container">
  <div class="col-md hworks">
      <p>How it Works?</p>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md hiw">
        <span class="fill-form">
        <svg class="svgi" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <path fill="#dee2ff" d="M3.2,20.6h7c1,0,1.7,0.8,1.7,1.7v7c0,1-0.8,1.7-1.7,1.7h-7c-1,0-1.7-0.8-1.7-1.7v-7
                        C1.4,21.3,2.2,20.6,3.2,20.6z M27.5,1h2.6c0.2,0,0.4,0.2,0.4,0.4V4c0,0.2-0.2,0.4-0.4,0.4h-2.6c-0.2,0-0.4-0.2-0.4-0.4V1.4
                        C27.1,1.2,27.3,1,27.5,1z"></path>
          <path fill="#303030" stroke="#FFFFFF" stroke-width="0.5" d="M24,1H5.4C4.7,1,4.1,1.6,4.1,2.4v23.3
                        c0,0.8,0.6,1.4,1.4,1.4h12.7c0.8,0,1.8-0.4,2.4-0.9l3.8-3.6c0.5-0.5,1-1.6,1-2.3l0-17.8C25.3,1.6,24.7,1,24,1z M23.6,21.8l-3.8,3.6
                        c-0.2,0.1-0.4,0.3-0.6,0.4v-3.7c0-0.2,0.1-0.4,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3h4C23.9,21.5,23.8,21.7,23.6,21.8z M24.3,20.2H20
                        c-1,0-1.9,0.8-1.9,1.9v3.9H5.4c-0.2,0-0.3-0.2-0.3-0.3V2.4C5.1,2.2,5.2,2,5.4,2H24c0.2,0,0.3,0.2,0.3,0.3L24.3,20.2z"></path>
          <path fill="#303030" d="M20,6.8h-7.6c-0.3,0-0.5,0.2-0.5,0.4s0.2,0.4,0.5,0.4H20c0.3,0,0.5-0.2,0.5-0.4S20.3,6.8,20,6.8z M20,12
                        h-7.6c-0.3,0-0.5,0.2-0.5,0.4c0,0.2,0.2,0.4,0.5,0.4H20c0.3,0,0.5-0.2,0.5-0.4C20.5,12.2,20.3,12,20,12z"></path>
          <path fill="#0072ffe0" stroke="#FFFFFF" stroke-width="0.5" d="M11,4.8c-0.2-0.1-0.6-0.1-0.7,0.2L8.6,7.9L7.7,7C7.5,6.8,7.1,6.8,6.9,7
                        c-0.2,0.2-0.2,0.5,0,0.7l1.4,1.4c0.1,0.1,0.3,0.2,0.4,0.1C8.9,9.2,9,9.1,9.1,9l2.1-3.4C11.3,5.3,11.3,5,11,4.8z M11,10
                        c-0.2-0.1-0.6-0.1-0.7,0.2L8.6,13l-0.9-0.9c-0.2-0.2-0.5-0.2-0.7,0c-0.2,0.2-0.2,0.5,0,0.7l1.4,1.4c0.1,0.1,0.3,0.2,0.4,0.1
                        c0.2,0,0.3-0.1,0.4-0.2l2.1-3.4C11.3,10.5,11.3,10.1,11,10z"></path>
          </svg>
        </span>
        <p class="form-text"><span>Fill an online form to view exciting offers from our companion banks</span></p> 
      </div>
      <div class="col-md hiw2">
        <span class="person">
        <svg class="svgi" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <path fill="#dee2ff" d="M21.6,19.9h6.9c0.9,0,1.7,0.8,1.7,1.7v7.7c0,0.9-0.8,1.7-1.7,1.7h-6.9c-0.9,0-1.7-0.8-1.7-1.7v-7.7
                        C19.9,20.6,20.6,19.9,21.6,19.9z M2.3,2.3h2.6c0.2,0,0.4,0.2,0.4,0.4v2.6c0,0.2-0.2,0.4-0.4,0.4H2.3C2,5.7,1.9,5.5,1.9,5.3V2.7
                        C1.9,2.5,2,2.3,2.3,2.3z"></path>
          <path fill="#303030" d="M2.3,23.4v3.1c0,0.1,0.1,0.2,0.2,0.2h11.3v-0.5h-8v-2.5H5.5v2.5H2.8v-2.9c0-1.7,0.9-3.3,2.5-4
                        l5.5-2.9l3.1,3c0,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1l3.1-3l5.5,2.9c1.5,0.8,2.4,2.3,2.4,4v2.9h-2.7v-2.5h-0.5v2.5h-8.2v0.5h11.5
                        c0.1,0,0.2-0.1,0.2-0.2v-3.1c0-1.8-1-3.5-2.6-4.4l-5.4-2.8c0,0,0-0.1,0-0.1v-2.1c0.8-0.9,1.4-1.9,1.6-3.2c0.8-0.3,1.3-1,1.3-1.9
                        c0-0.8-0.5-1.6-1.2-1.8V4.9c0-2.1-1.7-3.9-3.9-3.9h-3c-2.1,0-3.9,1.7-3.9,3.9V7C7.9,7.3,7.4,8,7.4,8.8c0,0.9,0.5,1.6,1.3,1.9
                        c0.3,1.2,0.8,2.3,1.7,3.2V16c0,0,0,0.1,0,0.1l-5.3,2.8C3.4,19.8,2.3,21.5,2.3,23.4z M14,19l-3.2-3.1v-1.6c0.9,0.8,2.1,1.2,3.2,1.2
                        c1.2,0,2.3-0.4,3.2-1.2v1.6L14,19z M12.5,1.5h3c1.9,0,3.4,1.5,3.4,3.4v1.8c-3.3-1.3-6.6-1.3-9.8,0V4.9C9.1,3,10.6,1.5,12.5,1.5z
                         M18.8,7.1C18.2,7.9,18,9,17.2,8.8c-2.1-0.5-4.3-0.5-6.6,0c-0.3,0.1-0.7-0.1-0.9-0.4L9.2,7.2C12.4,5.9,15.6,5.9,18.8,7.1z M8.9,10.3
                        c-0.6-0.2-1.1-0.8-1.1-1.5c0-0.6,0.4-1.2,0.9-1.4l0.5,1.2c0.2,0.5,0.8,0.8,1.4,0.7c2.2-0.5,4.4-0.5,6.4,0c0.1,0,0.2,0,0.3,0
                        c1,0,1.2-1.1,1.8-1.9c0.6,0.2,1,0.8,1,1.4c0,0.7-0.4,1.3-1.1,1.5c-0.1,0-0.2,0.1-0.2,0.2c-0.5,2.8-2.6,4.6-4.9,4.6
                        c-2.1,0-3.3-1.4-3.3-1.4l0,0c-0.8-0.8-1.4-1.9-1.6-3.2C9.1,10.4,9,10.3,8.9,10.3z"></path>
          <path fill="#0072ffe0" d="M16.3,3.6c0-0.5-0.4-0.9-0.9-0.9h-2.9c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h2.9
                        C15.9,4.5,16.3,4.1,16.3,3.6z M12.1,3.6c0-0.2,0.2-0.4,0.4-0.4h2.9c0.2,0,0.4,0.2,0.4,0.4c0,0.2-0.2,0.4-0.4,0.4h-2.9
                        C12.3,4.1,12.1,3.9,12.1,3.6z"></path>
          </svg>
        </span>
        <p class="form-person"><span>Our administrative will assist you to pick a pleasant offer for your necessity</span></p>
      </div>
      <div class="col-md hiw3">
        <span class="bank">
        <svg class="svgi" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <path fill="#dee2ff" d="M2.7,6h6.7C10.3,6,11,6.7,11,7.6v6.7c0,0.9-0.7,1.7-1.7,1.7H2.7C1.7,16,1,15.2,1,14.3V7.6C1,6.7,1.7,6,2.7,6
                        z M28.1,3.5h2.5c0.2,0,0.4,0.2,0.4,0.4v2.5c0,0.2-0.2,0.4-0.4,0.4h-2.5c-0.2,0-0.4-0.2-0.4-0.4V3.9C27.7,3.7,27.9,3.5,28.1,3.5z"></path>
          <path fill="#303030" d="M29.7,11.2L16.6,4.6c-0.1-0.1-0.3-0.1-0.4,0L3,11.2c-0.2,0.1-0.3,0.3-0.2,0.5
                        c0,0.2,0.2,0.3,0.4,0.3H6v12.5H5.2c-0.2,0-0.4,0.2-0.4,0.4v3.1c0,0.2,0.2,0.4,0.4,0.4h22.4c0.2,0,0.4-0.2,0.4-0.4V25
                        c0-0.2-0.2-0.4-0.4-0.4h-0.6V12.1h2.6c0,0,0,0,0,0c0.2,0,0.4-0.2,0.4-0.4C30,11.4,29.9,11.3,29.7,11.2z M27.1,25.4v2.2H5.6v-2.2
                        H27.1z M6.9,24.6V12.1h2.9v12.5H6.9z M10.7,24.6V12.1H22v12.5H10.7z M22.9,24.6V12.1h3.2v12.5H22.9z M26.5,11.2h-20H5l11.4-5.8
                        l11.4,5.8H26.5z"></path>
          <path fill="#FFFFFF" d="M27.6,28.8H5.2c-0.4,0-0.7-0.3-0.7-0.7V25c0-0.4,0.3-0.7,0.7-0.7h0.6v-12H3.2c-0.3,0-0.6-0.2-0.7-0.5
                        c-0.1-0.3,0.1-0.6,0.4-0.8l13.2-6.7c0.2-0.1,0.4-0.1,0.6,0L29.9,11c0.2,0.1,0.4,0.3,0.4,0.6c0,0.4-0.3,0.7-0.7,0.7h-2.4v12h0.4
                        c0.4,0,0.7,0.3,0.7,0.7v3.1C28.3,28.5,27.9,28.8,27.6,28.8z M5.2,24.8C5.1,24.8,5,24.9,5,25v3.1c0,0.1,0.1,0.2,0.2,0.2h22.4
                        c0.1,0,0.2-0.1,0.2-0.2V25c0-0.1-0.1-0.2-0.2-0.2h-0.9v-13h2.9c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.1-0.1-0.2L16.5,4.8
                        c-0.1,0-0.1,0-0.2,0L3.1,11.5C3,11.5,3,11.6,3,11.7c0,0.1,0.1,0.1,0.2,0.1h3.1v13H5.2z M27.4,27.9h-22v-2.7h22V27.9z M5.9,27.4h21
                        v-1.7h-21V27.4z M26.3,24.8h-3.7v-13h3.7V24.8z M23.1,24.3h2.7v-12h-2.7V24.3z M22.3,24.8H10.4v-13h11.8V24.8z M10.9,24.3h10.8v-12
                        H10.9V24.3z M10.1,24.8H6.7v-13h3.4V24.8z M7.2,24.3h2.4v-12H7.2V24.3z M27.7,11.4H5L4.9,11l11.5-5.8L27.9,11L27.7,11.4z M6.1,10.9
                        h20.6L16.4,5.7L6.1,10.9z"></path>
          <path fill="#0072ffe0" d="M17.8,21.1C17.8,21.1,17.9,21.1,17.8,21.1L17.8,21.1l0-0.1L16,18.7c-0.2-0.2-0.3-0.3-0.3-0.3l0,0
                        c0.3,0,0.7-0.1,1.1-0.3c0.2-0.1,0.4-0.3,0.6-0.5c0.2-0.3,0.3-0.5,0.3-0.7l0,0h0.7c0,0,0.1-0.2,0.4-0.6c0,0,0,0,0,0l0,0h-1.1
                        c-0.1-0.2-0.1-0.4-0.3-0.6l0,0h1c0,0,0.2-0.2,0.4-0.6l0,0v0h-3.8c0,0-0.1,0.2-0.4,0.5l0,0v0h1c0.2,0,0.4,0,0.6,0.1
                        c0.3,0.1,0.5,0.3,0.6,0.5l0,0v0h-1.8c0,0-0.1,0.2-0.4,0.6c0,0,0,0,0,0l0,0h2.3c0,0.1,0,0.2,0,0.2c-0.2,0.5-0.7,0.8-1.6,0.8
                        c-0.2,0-0.3,0-0.5,0l0,0l0,0v0.5c0,0,0.7,0.9,2.2,2.6l0,0H17.8z"></path>
          </svg>
        </span>
        <p class="form-bank"><span>We collect documents from your door and deposit them in the bank</span></p>
      </div>
      <div class="col-md hiw4">
        <span class="payment">
        <svg class="svgi" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <path fill="#dee2ff" d="M2.8,1.4h7.3c1,0,1.8,0.8,1.8,1.8v7.3c0,1-0.8,1.8-1.8,1.8H2.8c-1,0-1.8-0.8-1.8-1.8V3.2
                        C1,2.2,1.8,1.4,2.8,1.4z M26.7,15.6h2.8c0.3,0,0.5,0.2,0.5,0.5v2.8c0,0.3-0.2,0.5-0.5,0.5h-2.8c-0.3,0-0.5-0.2-0.5-0.5v-2.8
                        C26.2,15.8,26.4,15.6,26.7,15.6z"></path>
          <path fill="#303030" d="M8.3,12.1c0,4.5,3.6,8.1,8.1,8.1s8.1-3.6,8.1-8.1S20.8,4,16.4,4C11.9,4,8.3,7.6,8.3,12.1z
                         M16.4,5.1c3.9,0,7,3.1,7,7s-3.1,7-7,7s-7-3.1-7-7C9.4,8.2,12.5,5.1,16.4,5.1z"></path>
          <path fill="#FFFFFF" d="M16.4,20.4c-4.6,0-8.3-3.7-8.3-8.3c0-4.6,3.7-8.3,8.3-8.3c4.6,0,8.3,3.7,8.3,8.3S21,20.4,16.4,20.4z
                         M16.4,4.2c-4.3,0-7.8,3.5-7.8,7.8c0,4.3,3.5,7.8,7.8,7.8c4.3,0,7.8-3.5,7.8-7.8S20.7,4.2,16.4,4.2z M16.4,19.3
                        c-4,0-7.2-3.2-7.2-7.2c0-4,3.2-7.2,7.2-7.2h0c4,0,7.2,3.2,7.2,7.2C23.6,16.1,20.3,19.3,16.4,19.3z M16.4,5.4c-3.7,0-6.7,3-6.7,6.7
                        c0,3.7,3,6.7,6.7,6.7s6.7-3,6.7-6.7S20.1,5.4,16.4,5.4L16.4,5.4z"></path>
          <path fill="#0072ffe0" d="M17.9,15.9C18,15.9,18,15.9,17.9,15.9L17.9,15.9l0-0.2l-2.4-2.9c-0.2-0.2-0.3-0.4-0.3-0.4l0,0v0
                        c0.4,0,0.9-0.1,1.4-0.3c0.3-0.1,0.5-0.3,0.8-0.7c0.2-0.3,0.3-0.6,0.3-0.9l0,0h0.9c0,0,0.2-0.2,0.5-0.7c0,0,0,0,0,0l0,0h-1.4
                        c-0.1-0.3-0.2-0.6-0.4-0.8l0,0h1.3c0,0,0.2-0.3,0.5-0.7l0,0v0h-4.9c0,0-0.2,0.2-0.5,0.7l0,0v0h1.3c0.2,0,0.5,0,0.7,0.1
                        c0.4,0.1,0.6,0.4,0.8,0.6l0,0v0h-2.3c0,0-0.2,0.2-0.5,0.7c0,0,0,0,0,0l0,0h2.9c0,0.1,0,0.2-0.1,0.3c-0.3,0.7-0.9,1-2,1
                        c-0.2,0-0.4,0-0.6,0l0,0l0,0v0.7c0,0,0.9,1.1,2.8,3.3l0,0H17.9z"></path>
          <path fill="#303030" d="M27.2,21.6l-4.4,2.1c-0.6-1.1-1.8-1.8-3-1.9l-4-0.1c-0.6,0-1.3-0.2-1.8-0.5L13.5,21
                        c-2.1-1.1-4.6-1.1-6.7,0l0-0.9c0-0.3-0.2-0.6-0.5-0.6l-4.4-0.1c-0.3,0-0.6,0.2-0.6,0.5L1,29.6c0,0.3,0.2,0.6,0.5,0.6L6,30.3h0
                        c0.3,0,0.5-0.2,0.6-0.5l0-0.5l1.1-0.6c0.5-0.2,1-0.3,1.5-0.2l6.9,1.9c0,0,0,0,0,0c0.5,0.1,1,0.2,1.5,0.2c1.1,0,2.1-0.2,3.1-0.7
                        c0,0,0,0,0.1,0l10-6.4c0.2-0.2,0.3-0.5,0.2-0.7C30.2,21.4,28.5,20.9,27.2,21.6L27.2,21.6z M2.2,29.1l0.2-8.6l3.3,0.1l-0.2,8.6
                        L2.2,29.1z M20.2,28.9c-1.2,0.5-2.6,0.7-3.9,0.4l-6.8-1.9c-0.8-0.2-1.6-0.1-2.3,0.3L6.6,28l0.2-5.7C8.6,21,11,20.9,13,21.9l0.4,0.2
                        c0.7,0.4,1.5,0.6,2.3,0.6l4,0.1c1.1,0,2.1,0.8,2.3,2l-6-0.2c-0.3,0-0.6,0.2-0.6,0.5c0,0.3,0.2,0.6,0.5,0.6l6.6,0.2h0
                        c0.3,0,0.5-0.2,0.6-0.5c0-0.2,0-0.5-0.1-0.7l4.5-2.1c0,0,0,0,0,0c0.6-0.3,1.4-0.2,1.9,0.3L20.2,28.9z"></path>
          <path fill="#FFFFFF" d="M17.6,30.8L17.6,30.8L17.6,30.8c-0.5,0-1.1-0.1-1.6-0.2l-0.1,0l-6.9-1.9c-0.4-0.1-0.9-0.1-1.3,0.1l-1,0.5
                        l0,0.3c0,0.4-0.4,0.8-0.8,0.8l-4.4-0.1c-0.4,0-0.8-0.4-0.8-0.8L1,19.9c0-0.4,0.4-0.8,0.8-0.8l4.4,0.1c0.2,0,0.4,0.1,0.6,0.3
                        C7,19.6,7.1,19.8,7.1,20l0,0.5c2.1-0.9,4.6-0.9,6.6,0.2l0.4,0.2c0.5,0.3,1.1,0.4,1.7,0.4l4,0.1c1.3,0,2.5,0.7,3.1,1.8l4.2-2
                        c0.4-0.2,0.9-0.3,1.4-0.3c1.1,0,2.1,0.6,2.7,1.6c0.2,0.4,0.1,0.8-0.3,1.1l-10,6.4c0,0-0.1,0-0.1,0.1C19.8,30.6,18.7,30.8,17.6,30.8z
                         M8.7,28.2c0.2,0,0.4,0,0.6,0.1l6.9,1.9c0.5,0.1,1,0.2,1.5,0.2h0c1,0,2.1-0.2,3-0.7l10-6.5c0.1-0.1,0.2-0.3,0.1-0.4
                        c-0.5-0.8-1.3-1.3-2.2-1.3c-0.4,0-0.8,0.1-1.2,0.3l-4.6,2.2l-0.1-0.2c-0.6-1-1.6-1.7-2.8-1.7l-4-0.1c-0.7,0-1.3-0.2-1.9-0.5
                        l-0.4-0.2c-2-1-4.5-1-6.5,0l-0.4,0.2l0-1.4c0-0.1,0-0.2-0.1-0.2c-0.1-0.1-0.1-0.1-0.2-0.1l-4.4-0.1c0,0,0,0,0,0
                        c-0.2,0-0.3,0.1-0.3,0.3l-0.3,9.7c0,0.2,0.1,0.3,0.3,0.3L6,30c0.2,0,0.3-0.1,0.3-0.3l0-0.6l1.3-0.7C7.9,28.3,8.3,28.2,8.7,28.2z
                         M17.6,29.7c-0.4,0-0.9,0-1.3-0.1l-6.9-1.9c-0.7-0.2-1.5-0.1-2.1,0.2l-1,0.5l0.2-6.3l0.1-0.1c1.1-0.7,2.3-1.1,3.5-1.1
                        c1,0,2,0.3,3,0.7l0.4,0.2c0.7,0.4,1.4,0.5,2.2,0.6l4,0.1c1.3,0,2.3,0.9,2.6,2.1l0.1,0.3l-6.3-0.2l0,0c-0.2,0-0.3,0.1-0.3,0.3
                        c0,0.2,0.1,0.3,0.3,0.3l6.6,0.2c0.2,0,0.3-0.1,0.3-0.3c0-0.2,0-0.4,0-0.7l0-0.2l4.7-2.2c0.7-0.4,1.6-0.2,2.2,0.3l0.2,0.2l-9.7,6.3
                        C19.5,29.5,18.6,29.7,17.6,29.7z M8.7,27.1c0.3,0,0.6,0,0.9,0.1l6.8,1.9c0.4,0.1,0.8,0.1,1.2,0.1c0.9,0,1.7-0.2,2.5-0.5l9.1-5.9
                        c-0.4-0.2-0.9-0.3-1.4,0l-4.3,2c0,0.2,0,0.4,0,0.6c0,0.4-0.4,0.8-0.8,0.8L16,26c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8
                        l5.7,0.2c-0.3-0.8-1.1-1.4-2-1.4l-4-0.1c-0.8,0-1.7-0.2-2.4-0.6l-0.4-0.2c-1.8-1-4.1-0.9-5.9,0.2l-0.1,5.2l0.2-0.1
                        C7.6,27.2,8.1,27.1,8.7,27.1z M5.7,29.4l-3.8-0.1l0.3-9.1L6,20.3L5.7,29.4z M2.4,28.8l2.8,0.1l0.2-8.1l-2.8-0.1L2.4,28.8z"></path>
          </svg>
        </span>
        <p class="form-payment"><span>The bank will analyze your application and will confirm approval</span></p>
      </div>
  </div>
</div>
<div class="container">
  <div class="row-r">
    <div class="col-md">
      <p class="reception">About Home Loans</p>
      <img class="image-reception" src="assets/images/Reception.jpg"alt="reception image">
    </div>
    <div class="col-md recp">
      <p class="about-reception"><span>What are the advantages of taking a home loan?</span></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-c">
    <div class="col-md-8 contactus">
      <img class="image-contact" src="assets/images/contact.png"alt="contact us image">
    </div>
    <div class="col-md-4 contactusltr">
      <p class="cons"><span class="cus">Contact Us</span> <br>Have any queries? We'd love to hear from you</p>
      <p class="cl">Call Us :</p>
      <p class="ml">Mail Us :</p>
    </div>
  </div>
</div>