.bg-light {
    margin-top: 25px;
    background-color: black!important;
}
.nav-link {
    font-weight: 500;
    color: #007effb8!important;
}
.letter {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2em;
}
.ploan {
    width: 85.3em;
}
.hloan {
    position: absolute;
    top: 70px;
    left: 14em;
    font-size: 40px;
    font-weight: 700;
}
.lastext {
    position: absolute;
    top: 10em;
    left: 28em;
    font-size: 20px;
}
.loansrch {
    width: 14em;
    position: absolute;
    top: 5em;
    left: 66em;
}