<div class="navigation">
    <aside class="sidebarmain">
        <div class="sidebar left ">
            <ul class="list-sidebar bg-defoult">
                <li class="buys"> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active">
                        <span class="nav-label"><i aria-hidden="true" class="fas fa-store-alt buy"></i></span>
                        <div class="slider ">
                            <p class="realty-dropdown-hover">Buy</p>
                        </div>
                    </a>
                    <ul class="sub-menu collapse" id="dashboard">
                        <li class="active"><a href="#">CSS3 Animation</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Tabs & Accordions</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">FontAwesome</a></li>
                        <li><a href="#">Slider</a></li>
                        <li><a href="#">Panels</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bootstrap Model</a></li>
                    </ul>
                </li>
                <li class="sal"> <a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> <span class="nav-label"><i
                                class="fas fa-university sales" aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>Sales</p>
                        </div>
                    </a> 
                </li>
                <li class="pusers"> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active"> <i
                            class="fa fa-home Property" aria-hidden="true"></i> <span class="nav-label">
                                <i class="fas fa-house-user" aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>Property Users</p>
                        </div>
                    </a>
                </li>
                <li class="rnews"> <a href="#"><span class="nav-label"><i class="far fa-newspaper realty"
                                aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>Realty News</p>
                        </div>
                    </a> 
                </li>
                <li class="m9"> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active"><span
                            class="nav-label"><i class="fas fa-universal-access mr9" aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>MR.9</p>
                        </div>
                    </a>
                </li>
                <li class="about"> <a href=""><i class="fa fa-user-o" aria-hidden="true"></i><span class="nav-label">
                    <i class="far fa-address-card about" aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>About Us</p>
                        </div>
                    </a>
                </li>
                <li class="map"> <a href="#"><span class="nav-label"><i class="fas fa-map-marker-alt map"aria-hidden="true"></i></span>
                        <div class="slider">
                            <p>Map</p>
                        </div>
                    </a> 
                </li>
                <li class="contact"> <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active">
                    <i class="fa fa-phone contact" aria-hidden="true"></i><span class="nav-label"></span>
                        <div class="slider">
                            <p>Contact Us</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>