.test {
    margin-top: 4em;
    width: 70em;
    height: 25em;
}
.form-control-location {
    width: 17em;
    height: 3em;
}
.form-control-type {
    height: 3em;
    width: 10em;
    padding-left: 0px;
    margin-left: -6px;
}
.form-control-budget {
    height: 3em;
    width: 9em;
    padding-left: 0px;
    margin-left: -6px;
}
.form-row>.col {
    padding: 0px;
}
.srch {
    margin-left: 5px;
}
.btn {
    margin-left: 5px;
}
.searchbar {
    margin-left: 14em;
}
.form-row {
    margin: 45px 0px 45px 0px;
}
.form-control-location {
    text-align: center;
}
.form-control-type {
    text-align: center;
}
.form-control-budget {
    text-align: center;
}
.srch {
    margin-left: 0px;
    width: 10%;
    background-color: #007eff;
    color: white;
}
.title-res {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.featured {
    font-size: 10px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 2px;
    color: white;
    border: none;
    background-color: #007bffed;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    z-index: 20;
    left: 15px;
    margin-top: 15px;
    position: absolute;
}
.list-properties {
    list-style-type: none;
    padding-inline-start: 25px;
    font-size: 17px;
    font-weight: 500;
}
.detls {
    font-size: 20px;
    width: 10em;
    margin-left: 50px;
    background-color: #1f91d4;
    color: white;
    border: none;
    border-radius: 4px;
}
.bg-light {
    margin-top: 25px;
    background-color: black!important;
}
.nav-link {
    font-weight: 500;
    color: #007effb8!important;
}
.carousel-fade {
    margin-top: 2em;
}
.src-map {
    width: 3em;
    background-color: #007eff;
}
.testinomial {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
}


