.lftmain {
    float: left;
    width: 41%;
}
.rtmain {
    float: right;
    width: 40%;
}
.tbuy {
    border-bottom: 1px solid #dadada;
}
.tsale {
    border-bottom: 1px solid #dadada;
}
.tuser {
    border-bottom: 1px solid #dadada;
}
.tnews {
    border-bottom: 1px solid #dadada;
}
.tnine {
    border-bottom: 1px solid #dadada;
}
.tabout {
    border-bottom: 1px solid #dadada;
}
.tmap {
    border-bottom: 1px solid #dadada;
}
.tcontact {
    border-bottom: 1px solid #dadada;
}
.dropdown {
    width: 7em;
}
.mr-auto {
    margin-left: 7em;
}
.navbar-light .navbar-nav .nav-link {
    color: #caf0f8;
}
.bg-light {
    background-color: black!important;
    margin-top: 30px;
}
.nav-link {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(88, 191, 250, 0.8);
}
